@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  background-image: url("https://images.unsplash.com/photo-1603484477859-abe6a73f9366?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Pacifico", cursive;
}
