@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  background-image: url(./paper-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Pacifico", cursive;
}
